body {
    background-image: url("https://unsplash.it/1920/1080/?abstact");
    font-family: 'Patrick Hand', cursive;
    font-size: 100%;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

.game-form {
    display: none;
    overflow-y: hidden;
}

#preloader {
    background: #191f26 url(./loader.gif) no-repeat center;
    background-size: contain;
    background-size: 100%;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 99999;
    top: 0;
}


/* LOGIN FORM  */

.about-game {
    position: absolute;
    left: 59%;
    top: 3.5%;
    cursor: pointer;
    z-index: 9;
}

.about-game:hover .hover-about-game {
    display: block;
}

.hover-about-game {
    position: absolute;
    width: 300px;
    display: none;
    background: black;
    color: red;
    border-radius: 10px;
    padding: 5px;
    left: -365%;
    top: 83%;
    border: 1px solid #2196F3;
}

.login-form {
    display: block;
    position: relative;
    color: aliceblue;
    width: min(100% - 6.25rem, 31.25rem);
    height: 100%;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.2px);
    -webkit-backdrop-filter: blur(11.2px);
    border: 1px solid rgba(255, 255, 255, 0.07);
    margin: 10px auto 220px auto;
    /* padding: 10px; */
    border-radius: 20px;
}

.login-form label {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-size: 1.25rem;
}

.inputsForm {
    margin: auto;
    text-align: center;
}

.login-form input {
    margin: auto;
    min-width: 200px;
    width: 40%;
    border-radius: 12px;
    height: 40px;
    font-size: 25px;
    text-align: center;
    justify-content: center;
}

.info-name {
    position: absolute;
    cursor: pointer;
    margin-top: 10px;
}

.info-room {
    position: absolute;
    cursor: pointer;
    margin-top: 10px;
}

.info-name:hover .extra-info-name {
    display: block !important;
}

.info-room:hover .extra-info-room {
    display: block !important;
}

.extra-info-room {
    position: absolute;
    width: 100px;
    display: none;
    background: black;
    color: red;
    border-radius: 10px;
    padding: 5px;
    top: -170%;
    right: 90%;
    border: 1px solid #2196F3;
}

.extra-info-name {
    position: absolute;
    width: 100px;
    display: none;
    background: black;
    color: red;
    border-radius: 10px;
    padding: 5px;
    top: -130%;
    right: 90%;
    border: 1px solid #2196F3;
}


/* buttons design */

.button-55 {
    /* align-self: center; */
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: block;
    font-size: 1.5rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 20px auto;
}

.button-55:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 4px, 0);
}

.button-55:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}


/* CHAT ZONE  */

.chat-zone {
    position: relative;
    color: aliceblue;
    width: min(100% - 90px, 600px);
    height: 18.75rem;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.2px);
    -webkit-backdrop-filter: blur(11.2px);
    border: 1px solid rgba(255, 255, 255, 0.07);
    margin: .3125rem auto 10px auto;
    border-radius: 15px;
    font-size: 1.1875rem;
    padding: 10px;
    font-family: 'Patrick Hand', cursive;
    overflow-y: auto;
    transform: rotate(0.5turn);
}

.chat-zone::-webkit-scrollbar {
    width: .2em;
}

.chat-zone::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.chat-zone::-webkit-scrollbar-thumb {
    /* background-color: rgb(77, 49, 49); */
    outline: .5px solid rgb(248, 248, 248);
    background: rgba(62, 101, 136, 0.32);
    border-radius: 19px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: .5px solid rgba(62, 101, 136, 0.3);
}

.chat-zone ul {
    margin: 0;
    padding: 0 10px 0 10px;
    list-style-type: none;
    transform: rotate(0.5turn);
}

.chat-zone ul .chat-li {
    color: aliceblue;
    text-align: center;
    /* transform: rotate(0.5turn); */
}


/* SEND ZONE  */

.send-zone {
    position: relative;
    color: aliceblue;
    width: min(100% - 90px, 600px);
    height: 8.125rem;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.2px);
    -webkit-backdrop-filter: blur(11.2px);
    border: 1px solid rgba(255, 255, 255, 0.07);
    margin: 10px auto 0px auto;
    border-radius: 15px;
    font-size: 1.5625rem;
    padding: 10px;
    font-family: 'Patrick Hand', cursive;
}

.send-zone-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 200px;
    width: 100%;
    height: 100%;
    margin: 5px;
    justify-content: center;
}

.send-correct-btn {
    position: relative;
    float: left;
    padding: 5px;
    margin: 3px;
    font-size: 1.25rem;
}

.send-newgame-btn {
    position: relative;
    float: right;
    padding: 5px;
    margin: 3px;
    font-size: 1.25rem;
}

.send-input {
    position: relative;
    display: block;
    text-align: center;
    text-align: center;
    margin: 3px;
    padding: 12px;
    font-size: 1.25rem;
    border-radius: 8px;
}

#send-word-btn {
    position: relative;
    text-align: center;
    margin: 3px;
    font-size: 1.25rem;
}